<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h4>タイムラインの編集</h4>
        <%= render 'form', timeline: @timeline %>
        <a href="/timelines/<%=@timeline.id%>"><button class="btn btn-primary btn-sm" type="submit">詳細画面</button></a>
        <a href="/timelines"><button class="btn btn-primary  btn-sm" type="submit">タイムライン</button></a>
      </div>
    </div>
  </div>
</div>
