<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h4>タイムライン投稿</h4>
        <%= render 'form', timeline: @timeline %>
        <a href="/timelines"><button class="btn btn-primary" type="submit">戻る</button></a>
    </div>
  </div>
</div>
