<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="common-container">
        <h4>タイムライン投稿</h4>
        <%= render 'form', timeline: @timeline %>
        <%= link_to '戻る', timelines_path %>
      </div>
    </div>
  </div>
</div>
